<!--The content below is only a placeholder and can be replaced.-->
<!--Navigation Menu-->
<mat-toolbar color="primary" class="mat-elevation-z6">
  <button mat-button routerLink="/dashboard">
    <mat-icon>home</mat-icon>
    Home
  </button>
  <button mat-button routerLink="/users">
    <mat-icon>people</mat-icon>
    Users
  </button>
  <button mat-button routerLink="/scheduler">
    <mat-icon>calendar_today</mat-icon>
    Scheduler
  </button>
</mat-toolbar>

<!--Router Needs to Go Here-->
<router-outlet></router-outlet>
